.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/eastern_cuisine.jpg') no-repeat;
    background-size: cover;
    background-position: center -10vw;
    position: relative;
    border-radius: 12px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 40%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 1s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

